.ntask-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

.ntask-input {
    width: 60%;
    padding: 1%;
}

.ntask-button {
    margin-left: 1%;
    margin-right: 1%;
}
/* .ntask-filter {
    
} */