/* CANVA */
#signInCanva { 
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
}

.header{
    color: #ffffff;
}
.signInForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 7rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
} 


/* BUTTONS */
.signInBtn {
    display: inline;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    background-size: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.signInBtn:hover {
    transform: scale(1.25) perspective(1px)
  } 
.facebook {
    background-image: url('../App/icons/auth/facebook.png');
}
.gitHub{
    background-image: url('../App/icons/auth/github.png');
}
.google{
    background-image: url('../App/icons/auth/google.png');
}