/* @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');
body{
    height: auto;
}
.app{
    font-family: 'Open+Sans';
    /* background-color: #000000; */
    background-color: #1b1a1a;
    color: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: flex-start;
    /* grid-template: 22% 82% / 100%; */
    overflow-x: hidden;
}
.new-task-container{
    width: 100%;
    /* height: 25%; */
    display: flex; 
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 1%;
    /* background-color: rgb(171, 202, 141); */
}
.section-input-features{
    height: 30%;
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
    z-index: 2;
}
.section-input-features h4{
    /* color: #7cff01; */
    color: #FFFFFF;
    font-family: 'Raleway';
}

/* STYLE TEXT BUTTONS _________________________________________________________________*/

.features-btns{
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    /* background-color: purple; */
}
.feature-button{
    background-repeat: no-repeat; 
    background-position: center;
    cursor: pointer;
    height: 100%;
    background-size: 1.2rem 1.2rem;
    outline: none;
    border: none;
    border-style: none;
    background-color: transparent;
    padding: 7%;
    margin-left: 2%;
    margin-right: 4%;
}
.tooltiptext{
    visibility: hidden;
    width: auto;
    background-color: transparent;
    color: #60c689;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -20%;
    margin-left: -10px;
}
.feature-button:hover .tooltiptext {
    visibility: visible;
  }
.canvas-button{
    background-size: 1.5rem 1.5rem;
    background-image: url('../../../icons/canvas.png');
}
.text-style-button{
    background-image: url('../../../icons/text.png');
}
.add-list-button{
    background-image: url('../../../icons/rec-thick.png');
}
.attach-button{
    background-image: url('../../../icons/image.png');
}
.categories-button{
    background-image: url('../../../icons/label.png');
}


/*  DROPDOWN _____________________________________________________________________________ */

#current-category{
    left: 2%;
}
.dropdown{
    width: 7rem;
    height: 3rem;
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.7rem; 
    /* margin-right: 2%; */
    margin-left: 2%;
    position: relative;
    /* z-index: 1; */
}
.category-dropdown h4{
    padding: 6%;
    font-size: 1rem;
    width: 60%;
    border-radius: 1rem;
    /* color: #7cff01; */
    color: #FFFFFF;
    font-family: 'Raleway';
    cursor: pointer;
    /* background-color: rgb(172, 0, 252); */
}

.dropdown-content{
    display: none;
    background: #1b1a1a;
    flex-flow: column nowrap;
    padding-top: 1rem;
    position: absolute;
    z-index: 2;
    border-radius: .7rem;
    transition: all 3s linear;
    /* margin-right: 5%; */
}

.set-category-dropdown-content{
    top: 3rem;
    width: 7rem;
    /* background-color: turquoise; */
}

.filter-dropdown{
    width: 8rem;
}
.filter-dropdown h4{
    width: 64%;
}

.filter-dropdown-content {
    top: 3rem;
    width: 8rem;
}
 
.number-of-tasks {
    font-size: 0.8rem;
}

.category-btn{
    opacity: 1;
    /* margin: 1% 0%; */
    padding: 8%;

    left: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: fle;
    color: #ffffff;
    /* background-color: turquoise; */
    border: transparent;
    cursor:pointer;
    border-radius: 1rem;
}

.category-btn:hover {
    text-decoration: underline;
}

.category-btn input{
    /* margin-left: 10%; */
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Raleway';
}
/* 
#ff1178
pink

#fe0000
red

fff205
yellow

01fff4
blue
 */
.circle{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* margin-left: 5%; */
}

.new-task-filter{
    margin-left: 2%;
    border-radius: .7rem;
    height: 2rem;

}
.new-task-filter:focus {
    outline:none; 
    border: none;
}


 /* ___________________ SECTION INPUT ______________________________________*/
.section-input{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 80%;
    max-width: 90%;
    /* background-color: tomato; */
    margin-left: auto;
    margin-right: auto;
}
#attachment-field{
    max-width: 4rem;
    height: 100%;
    /* padding: .1%; */
    background-color: white;
    border-radius: 1rem;
}
.attached-pic_in-input{
    width: 100%
}
.new-task-input {
    width: 85%;
    height: 3.5rem;

    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    background-color: #fbfbfb;
    color:#1a1f2a;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 500;
    font-size: 1rem;
    margin-right: .5rem;

    outline: none; 
    border: none; 
}
/* .new-task-input:focus {
    outline: none; 
    border: none; 
} */
/* .new-task-input:focus {
    outline: none;
    border-color:#01fff4;
    box-shadow:0 0 8px #01fff4;
} */
.attachment-field-cross{
    width: 50%;
    height: 50%;
    background-color: crimson;
}
.cross-container {
    height: 1.4rem;
    width: 1.4rem;
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 0rem;
  }

.cross {
    -webkit-appearance: none;
    border: none;
    height: 1.4rem;
    width: 1.4rem;
    text-indent: -9999px; 
    outline: none; 
    cursor: pointer;
}
.cross:before {
    content: '';
    display: block;
    position: relative;
    width: .2rem;
    height: 1.4rem;
    border-radius: 2rem;
    background-color: #d1d1d1;
    transition: all .3s ease;
    left: 1.4rem;
}
.cross:after{
    content: '';
    display: block;
    position: relative;
    width: .2rem;
    height: 1.4rem;
    border-radius: 2rem;
    background-color: #e0e0e0;
    transition: all .3s ease;
    left: 1.4rem;
    bottom: 1.4rem;
    transform: rotate(-90deg);
    /* animation: afterStick 2s linear; */
}
.cross.tick:before{
    left: 1.1rem;
    transform: rotate(-45deg);
    /* background-color: #7cff01; */
    background-color: #60c689;;
}
.cross.tick:after{
    left: 2.15rem;
    transform: rotate(45deg);
    /* transform: ; */
    height:2rem;
    bottom: 1.9rem;
    /* background-color: #7cff01; */
    background-color: #60c689;
}

.new-task-button{
    height: 100%;
    padding: 1%;
    width: 4%;
    margin-left: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.new-task-button:enabled{
    background-image: url('../../../icons/input-icons/cross-thin.png');
}

@media only screen and (max-width: 600px) {
    .app{
        /* grid-template: 20% 80% / 100%; */
    }
    .new-task-container{
        /* height: 1rem; */
        /* align-items: space-between;
        justify-content: space-between; */
        /* background-color: rgb(105, 6, 105); */
    }
  }


@media only screen and (max-width:768px) {
    .app{
        /* grid-template: 22% 78% / 100%; */
        margin: 0;
    }
    .new-task-container{
        flex-flow: row wrap;
        justify-content: center;
        align-items: space-between;
        margin: 0%;
        width: 100%;
        /* background-color: rgb(47, 68, 255); */
    }
    .section-input{
        width: 100%;
        max-width: 100%;
        /* border: 2px solid #a5a5a5; */
        /* background-color: violet; */
    }
    
    #attachment-field{
        max-width: 4rem;
        height: 100%;
    }
    
    .new-task-input:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
    .new-task-button{
        display: none;
    }
    
    .section-input-features{
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0%;
        margin: 2% 0%;
        /* background-color: green; */
    }
    .features-btns{
        width: 60%;
        justify-content: space-around;
        /* background-color:coral ; */
    }

    .new-task-filter{
        margin-left: 0%;
        border-radius: .7rem;
        height: 2rem;
        /* background-color: coral; */
    }
    .cross-container{
        display: none;
    }

    .tooltiptext{
        display: none;
    }
    
    .new-task-filter:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .filter-dropdown{
        width: 5.5rem;
        /* background-color: coral; */
    }
    .filter-dropdown-content{
        right: 0;
    }
    
}

/* @media only screen and (max-width:600px) {
    .app{
        grid-template: 25% 75% / 100%;
    }
} */


