@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@300;400;600;700&family=Open+Sans&display=swap');
.app{
    font-family: 'Fugaz One', cursive;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 20% 60% 20% / 30% 70%;
}

.new-task-container{
    color: #fd43b3;
    grid-area: 2 / 1 / 3 / 2;
    display: flex; 
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20%;
}

 /*   SECTION INPUT */
.section-input{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

input {
    height: 40px;
    padding: 8px;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2%;
}

input:focus {
    outline: none;
    border-color:#f5d300;
    box-shadow:0 0 10px #f5d300;
}

.new-task-button{
    height: 100%;
    padding: 8px;
    width: 40px;
    margin-left: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    
}
.new-task-button:enabled{
    background-image: url('../App/icons/icons8-plus-480.png');
}

/*   SECTION FILTER */
.section-filter{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-family: 'Open Sans', sans-serif;
    color: #08f7fe;
}
.new-task-filter{
    height: 45px;
    padding: 8px;
    border-radius: 1rem;
    margin-left: 5%;
}

.new-task-filter:focus {
    outline:none; 
    border-color:#08f7fe;
    box-shadow:0 0 10px #08f7fe;
    -moz-box-shadow:0 0 10px #08f7fe;
    -webkit-box-shadow:0 0 10px #08f7fe;
}

@media only screen and (max-width:768px) {
    .app{
        grid-template: 30% 70% / 100%;
        margin: 0;
    }
    .new-task-container{
        grid-area: 1 / 1 / 2 / 2;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 0%;
    }
    h1{
        font-size: 1.7rem;
    }
    .new-task-button{
        display: none;
    }
    .new-task-filter{
        margin-bottom: 0;
    }
    .section-input{
        justify-content: center;
    }
    .section-filter{
        align-self: center;
    }
    input {
        width: 80%;
      
    }
}


