@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@300;400;600;700&family=Open+Sans&display=swap');
.app{
    font-family: 'Fugaz One', cursive;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 20% 60% 20% / 30% 70%;
}

.new-task-container{
    color: #fd43b3;
    grid-area: 2 / 1 / 3 / 2;
    display: flex; 
    flex-flow: column wrap;
    margin-left: 20%;
}

 /*   SECTION INPUT */
.section-input{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

input {
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

input:focus {
    outline:none;
    border-color:#f5d300;
    box-shadow:0 0 10px #f5d300;
}

.new-task-button{
    height: 2.3rem;
    width: 2.3rem;
    padding: 0.5rem;
    margin-left: 1%;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    
}
.new-task-button:enabled{
    background-image: url('../App/icons/icons8-plus-480.png');
}

/*   SECTION FILTER */
.section-filter{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-family: 'Open Sans', sans-serif;
    color: #08f7fe;
    /* colours used: */
    /* #08f7fe blue    
    #04ddb9 green,
    #f5d300 yellow, 
    #fd43b3 pink */
}
.new-task-filter{
    height: 2.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: 5%;
}

.new-task-filter:focus {
    outline:none; 
    border-color:#08f7fe;
    box-shadow:0 0 10px #08f7fe;
    -moz-box-shadow:0 0 10px #08f7fe;
    -webkit-box-shadow:0 0 10px #08f7fe;
}

@media only screen and (max-width:768px) {
    .app{
        grid-template: 35% 65% / 100%;
        margin: 0;
    }
    .new-task-container{
        grid-area: 1 / 1 / 2 / 2;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 0%;
        /* background-color: rgb(52, 29, 184); */
    }
    h1{
        font-size: 1.7rem;
    }
    .new-task-button{
        display: none;
    }
    .new-task-filter{
        margin-bottom: 0;
    }
    .section-input{
        justify-content: center;
    }
    .section-filter{
        align-self: center;
        /* background-color: red; */
        /* margin-bottom: 10%; */
    }
    input {
        width: 80%;
        /* margin-bottom: 0; */
    }
}

/* @media only screen and (max-device-height:500px) {
    .app{
        grid-template: 50% 50% / 100%;
    }
} */

