@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@300;400;600;700&family=Open+Sans&display=swap');
.app{
    font-family: 'Fugaz One', cursive;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 20% 60% 20% / 30% 70%;
}

.new-task-container{
    color: #fd43b3;
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 20%;
    display: flex;
    flex-flow: column wrap;
}

 /*   SECTION INPUT */
.section-input{
    display: flex;
    flex-flow: row nowrap;
    margin: 15% 0%;
    width: 100%;
}

input {
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

input:focus {
    outline:none;
    border-color:#f5d300;
    box-shadow:0 0 10px #f5d300;

}

.new-task-button{
    height: 2.3rem;
    width: 2.3rem;
    padding: 0.5rem;
    margin-left: 1%;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    
}
.new-task-button:enabled{
    background-image: url('../App/icons/icons8-plus-480.png');
}

/*   SECTION FILTER */
.section-filter{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-family: 'Open Sans', sans-serif;
    color: #04ddb9;
    /* #08f7fe blue    
    #04ddb9 green,
    #f5d300 yellow, 
    #fd43b3 pink */
}
.new-task-filter{
    height: 2.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: 3%;
}

.new-task-filter:focus {
    outline:none;
    border-color:#f5d300;
    box-shadow:0 0 10px #f5d300;

}
@media (max-width:641px) {
    .app{
        grid-template: 35% 65% / 100%;
        margin: 0;
    }
    .new-task-container{
        grid-area: 1 / 1 / 2 / 2;
        flex-flow: row wrap;
        margin: 5% 0% 0% 10%;
    }
    h1{
        font-size: 1.7rem;
        margin-left: 5%;
        margin-right: auto;
    }
    .new-task-button{
        visibility: hidden;
    }
    .new-task-filter{
        margin-bottom: 0;
    }
    .section-input{
        margin: -10% 0%;
    }
    .section-filter{
        /* margin: -20% 0%; */
    }
    input {
        /* height: 2.3rem;
    padding: 0.5rem; */
    }
}
