.task {
    
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start; */
    /* margin-top: 0.5%;
    margin-left: 20%; */
    /* background-color: #f5d300;
    padding: 2% 2%;
    border-radius: 1rem;
    max-width: 10rem;
    height: auto;
    font-family: 'Open Sans', sans-serif;  */
    
}
.finished {
    /* text-decoration-line: line-through; */
    background-color: #797979; 
}

.task-text {
    margin-top: 2%;
    width: 90%;
    list-style-type: none;
    font-weight: 500;
    color: #000000;
}

p {
    font-size: 0.8rem;
    color: rgb(197, 24, 24);
    align-self: flex-start;
}

.right-side-bar{
    margin-top: 2%;
}

.btn-toggle-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 20%; */
  }

.btn {
    font-size: 5px;
    -webkit-appearance: none;
    border: none;
    width: 5em;
    height: 5em;
    text-indent: -9999px; 
    outline: none; 
    background-color: rgb(238, 101, 38, 0);
    cursor: pointer;
}

.btn:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.7em;
    border-radius: 2em;
    top: 45%;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;
    left: -1.55em;
    transform: rotate(45deg);
}
.btn:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.7em;
    border-radius: 2em;
    top: 45%;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;

    transform: rotate(-45deg);
    right: -1.55em;
}
.btn.cross:before{
    left: 0;
    
}
.btn.cross:after{
    right: 0;
}

.btn-delete {
    width: 1.5rem;
    height: 1.3rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('../../../icons/icons8-trash-can-144.png');
    background-color: rgb(139, 69, 19, 0);
}

@media (max-width:768px) {
    .task {
        width: 95%;
    }
    .task-text {
        width: 75%;
        padding: 2%;
    }
    .btn {
        position: absolute;
        right: 120%;
        top: 1rem;
        transform: translate(-10%, -15%);
    }
    .btn-delete{
        margin-top: 1rem;
    }
    
    
}