.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    /* background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    ); */
    padding: 16px;
    border-radius: 5px;
    width: 80%;
}

.task :nth-child(2n) {
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgb(228, 80, 21) 100%
    );
  }

.task :nth-child(3n) {
    background: linear-gradient(
        90deg,
        rgba(255, 12, 241, 1) 0%,
        rgba(250, 0, 135, 1) 100%
    );
}

.task :nth-child(4n) {
    background: linear-gradient(
        90deg,
        rgb(20, 159, 255) 0%,
        rgba(17, 122, 255, 1) 100%
    );
}
.done {
    background-color: #80ff00;
}
.to-do {
    /* color: red */
}
/*  green #80ff00 */
/* pink - #ff0080 */

.task-text {
    width: 70%;
    list-style-type: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* text-align: justify;  */
}


.right-side-bar{
    /* top:0;
    background-color: rgb(238, 101, 38); */
    /* width: 23%;
    height: 100%; */
}








.btn-toggle-container{
    /* background-color: rgb(228, 135, 223);
    position: relative;
    transform: translate(-10%, -10%);
    right: 0;
    top: 0; */
  }
  
#btn-toggle{
    /* font-size: 0.2rem;
    -webkit-appearance: none;
    border: none;
    background-color: rgb(38, 211, 241);
    width: 20px;
    height: 10px;
    text-indent: -9999px; 
    outline: none;  */
}

/* #btn-toggle:before,  
#btn-toggle:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2em;
    top: 45%;
    background-color: rgb(211, 62, 4);
    transition: all .3s ease;
}

#btn-toggle:before{
    left: -1.55em;
    transform: rotate(45deg);
}

#btn-toggle:after{
    transform: rotate(-45deg);
    right: -1.55em;
}
#btn-toggle.finished:before{
    left: -1.55em;
    transform: rotate(45deg);
}

#btn-toggle.finished:after{
    transform: rotate(-45deg);
    right: -1.55em;
} */


.btn-delete {
    width: 1.3rem;
    height: 1.1rem;
    border-radius: 0.4rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgb(160, 82, 45, 0); */
    border: none;
    cursor: pointer;
    background-image: url('../icons/trash.png');
}


.task-complete {
    background-image: url('../icons/checkmark.png');
}