.task-container {
    display: inline-flex;
    /* height: 100%; */
    width: 50%;
    /* background-color: teal; */
    margin: 1%;
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
}
.task-text {
    width: 88%;
    padding: 2%;
    list-style-type: none;
}
.task-btns {
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 0.4rem;
    background-size: 100%;
    /* color: #A64AC9; */
    background-color: hsla(283, 54%, 54%, 0);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.task-delete {
    background-image: url('../icons/close.png');
}

.task-complete {
    background-image: url('../icons/checkmark.png');
}
.finishedClass {
    /* background-color: seagreen; */
    text-decoration: line-through;
}
.green {
    color: green
}
.red {
    color: red
}