.ntask-container {
    display: flex;
    /* flex-direction: column wrap; */
    width: 50%;
    justify-content: center;
    background-color: violet;

}

.ntask-input {
    width: 60%;
    padding: 1%;
}

.ntask-button {
    /* margin-left: 1%; */
}
.ntask-filter {
    
}